@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem 3%;
  }
  .home-img img {
    width: 50vw;
    margin-top: 7rem;
    margin-bottom: 5rem;
  }
  .about-img img {
    margin-top: 90px;
    width: 40vw;
  }
  .about-content .social-media {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  section {
    padding: 10rem 3%;
  }
  .services {
    padding: 7rem;
  }
  .portfolio {
    padding-bottom: 7rem;
  }
  .contact {
    min-height: auto;
  }
  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: rgb(34, 34, 34);
    border-top: 0.1rem solid rgb(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-content {
    order: 2;
  }
  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column;
  }
  .about-img img {
    width: 80vw;
    margin-top: 4rem;
  }
  .services h2 {
    margin-bottom: 3rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading {
    margin-top: 20px;
  }
}

@media (max-width: 617px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
  .home-img img {
    width: 85vw;
    margin-top: 7rem;
    margin-bottom: 5rem;
  }
  .about-img img {
    width: 85vw;
    margin-top: 4rem;
  }
  .about-content p {
    margin-top: -10px;
  }
  .about-content .social-media {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: -20px;
    margin-bottom: 50px;
  }
  .about-content .social-media i {
    text-align: center;
    width: 8rem;
    font-size: 50px;
  }
  .about-content .social-media a {
    padding: 10px 10px;
  }
  .about-content .social-media a:hover {
    font-size: 50px;
  }
  .about-content #react {
    width: 8.5rem;
    font-style: 80px;
  }
  .portfolio-container {
    padding: 20px;
  }
  .services-container .services-box {
    font-style: 50px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact form .input-box input {
    width: 100%;
  }
  .field {
    width: 100%;
  }
}
